@model MonthlyClaimSystem_PartTwo.Models.Lecturer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Lecturer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.LecturerRefID)</dt>
        <dd class="col-sm-10">@Model.LecturerRefID</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.FirstName)</dt>
        <dd class="col-sm-10">@Model.FirstName</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.LastName)</dt>
        <dd class="col-sm-10">@Model.LastName</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Faculty)</dt>
        <dd class="col-sm-10">@Model.Faculty</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.ClaimId)</dt>
        <dd class="col-sm-10">@("CID" + Model.ClaimId)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.ClaimName)</dt>
        <dd class="col-sm-10">@Model.ClaimName</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Amount)</dt>
        <dd class="col-sm-10">@($"{Model.Amount:C}")</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.StartDate)</dt>
        <dd class="col-sm-10">@Model.StartDate.ToString("yyyy-MM-dd")</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.EndDate)</dt>
        <dd class="col-sm-10">@Model.EndDate.ToString("yyyy-MM-dd")</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.HoursWorked)</dt>
        <dd class="col-sm-10">@Model.HoursWorked</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.HourlyRate)</dt>
        <dd class="col-sm-10">@($"{Model.HourlyRate:C} per hour")</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Description)</dt>
        <dd class="col-sm-10">@Model.Description</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Email)</dt>
        <dd class="col-sm-10">@Model.Email</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.ContactNum)</dt>
        <dd class="col-sm-10">@Model.ContactNum</dd>
    </dl>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-info">Back to List</a>
</div>
