@model List<MonthlyClaimSystem_PartTwo.Models.Lecturer>
@{
    ViewBag.Title = "Claims List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h2>My Claims</h2>
    <a href="/Lecturers/Create" class="btn btn-primary">+ Add New Claim</a>
</div>

<!--Claims Table-->
<div class="card">
    <div class="card-body">
        @if (Model.Count == 0)
        {
            <div class="text-center py5">
                <p class="text-muted">No claims available. Please add claims.</p>
                <a href="/Lecturers/Create" class="btn btn-primary">Add your first Claim</a>
            </div>

        }
        else
        {


            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Lecturer ID</th>
                        <th>Claim Name</th>
                        <th>Amount</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Actions</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var claim in Model)
                    {
                        <tr>
                            <td><strong>LN+@claim.LecturerId</strong></td>
                            <td><strong>@claim.ClaimName</strong></td>
                            <td><strong>@claim.Amount</strong></td>
                            <td><strong>@claim.StartDate</strong></td>
                            <td><strong>@claim.EndDate</strong></td>
                            <td><strong>@claim.Description</strong></td>
                            <td>
                                @if (claim.Status == MonthlyClaimSystem_PartTwo.Models.ClaimStatus.Pending)
                                {
                                    <span class="badge bg-warning text-dark">Pending</span>
                                }
                                else if (claim.Status == MonthlyClaimSystem_PartTwo.Models.ClaimStatus.Declined)
                                {
                                    <span class="badge bg-danger text-dark">Declined</span>
                                }
                                else
                                {
                                    <span class="badge bg-success text-dark">Approved</span>
                                }
                            </td>
                            <td>
                                <a href="/Lecturers/Details/@claim.LecturerId" class="btn btn-sm btn-outline-primary">View Details</a>
                            </td>
                        </tr>
                    }

            </table>
        }
    </div>
</div>